[run]
branch = True
source =
    src
omit =
        */__init__.py
        */venv/*
        */tests/*
        **/tests/
        **/test/
        */test*
        **/__init__.py
        **/_version.py


[report]
skip_empty = true